####NEXT STEPS

- check for outliers, figure out if odd data for somethingw ith wrong iwth compiling
- review/tidy up notebooks
- EDA!
- first models

# Capstone Project Part 3: Cleaning "Older_Data_DF"

**Authur:** Kate Meredith  

**Date:** September-November 2022

**Notebook #:** 4 of

## Background

**Source:** Data was collected from [CoffeeReview.com](https://www.coffeereview.com/) and grouped into two DataFrames for cleaning. This workbook compiles those two datasets.

**Data Overview:** Columns for the combined datasets will be as follows:

Independent Variables:
- coffee_name
- roaster_name
- month
- year
- roast
- bean_agtron
- ground_agtron
- aroma
- acidity
- body
- flavor
- aftertaste
- with_milk
- roaster_lat
- roaster_lon
- origin_lat
- origin_lon
- p1
- p2
- p3

Target: 
- Overall Score

### References

- Used this [article](https://www.geeksforgeeks.org/change-the-order-of-a-pandas-dataframe-columns-in-python/) to reorder columns

In [61]:
#Importing libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [62]:
#import first dataset
df_1 = pd.read_csv('1st_clean_data_df.csv')

In [63]:
#import second dataset
df_2 = pd.read_csv('2nd_clean_data_df.csv')

In [64]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4779 entries, 0 to 4778
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           4779 non-null   object
 1   roaster_name          4779 non-null   object
 2   roast_level           4705 non-null   float64
 3   overall_score         4779 non-null   int64
 4   p1                    4779 non-null   object
 5   p2                    4779 non-null   object
 6   p3                    4773 non-null   object
 7   bean_agtron           4742 non-null   float64
 8   ground_agtron         4743 non-null   float64
 9   year                  4779 non-null   int64
 10  month                 4779 non-null   int64
 11  roaster_location_lat  4738 non-null   float64
 12  roaster_location_lon  4738 non-null   float64
 13  origin_lat            4513 non-null   float64
 14  origin_lon            4513 non-null   float64
 15  aroma                 4743 non-null   float64
 16  acidity               4049 non-null   float64
 17  body                  4779 non-null   int64
 18  flavor                4779 non-null   int64
 19  aftertaste            4779 non-null   int64
 20  with_milk             766 non-null    float64
dtypes: float64(10), int64(6), object(5)
memory usage: 784.2+ KB

In [65]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1788 entries, 0 to 1787
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           1788 non-null   object
 1   roaster_name          1788 non-null   object
 2   overall_score         1784 non-null   float64
 3   roaster_location      1786 non-null   object
 4   p1                    1788 non-null   object
 5   p2                    1788 non-null   object
 6   p3                    1788 non-null   object
 7   roast                 1510 non-null   float64
 8   aroma                 1785 non-null   float64
 9   acidity               1452 non-null   float64
 10  body                  1733 non-null   float64
 11  flavor                767 non-null    float64
 12  aftertaste            2 non-null      float64
 13  with_milk             9 non-null      float64
 14  bean_agtron           1549 non-null   float64
 15  ground_agtron         1554 non-null   float64
 16  year                  1788 non-null   int64
 17  month                 1788 non-null   int64
 18  roaster_location_lat  1757 non-null   float64
 19  roaster_location_lon  1757 non-null   float64
 20  origin_lat            1465 non-null   float64
 21  origin_lon            1465 non-null   float64
dtypes: float64(14), int64(2), object(6)
memory usage: 307.4+ KB

In [66]:
df_2.drop('roaster_location', axis=1, inplace=True)

In [67]:
df_2 = df_2[['coffee_name', 'roaster_name', 'month', 'year', 'roast', 'bean_agtron', 'ground_agtron', 'aroma', 'acidity', 'body', 'flavor', 'aftertaste', 'with_milk', 'roaster_location_lat', 'roaster_location_lon', 'origin_lat', 'origin_lon', 'p1', 'p2', 'p3', 'overall_score']]

In [68]:
df_2.head()

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_location_lat,roaster_location_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
0,Doi Chaang Wild Civet Coffee,Doi Chaang Coffee,6,2009,2.0,49.0,80.0,8.0,8.0,7.0,...,NaN,NaN,51.046095,-114.065465,14.897192,100.832730,Blind Assessment: Intriguing mid-tones through...,Notes: Doi Chaang is a single-estate coffee pr...,Who Should Drink It: Culinary adventurers who ...,90.0
1,Kenya AA Lenana,Après Coffee,6,2009,4.0,42.0,53.0,8.0,8.0,7.0,...,NaN,NaN,40.038130,-76.305669,1.441968,38.431398,"Blind Assessment: Rich, very intense aroma: da...",Notes: Despite stresses brought on by social u...,Who Should Drink It: Those who prefer understa...,92.0
2,Mele 100% Kona Coffee,Hula Daddy,6,2009,2.0,51.0,73.0,8.0,8.0,7.0,...,NaN,NaN,19.623815,-155.953638,19.593802,-155.428370,"Blind Assessment: An exciting, rather unusual ...",Notes: A blend of coffees processed by a varie...,Who Should Drink It: An exhilarating sensory r...,92.0
3,Kenya Peaberry Thika Gethumbwini,JBC Coffee Roasters,6,2009,1.0,57.0,90.0,8.0,9.0,8.0,...,NaN,NaN,43.074761,-89.383761,1.441968,38.431398,"Blind Assessment: Clean, complex, impeccable. ...",Notes: Despite national coffee leadership mark...,Who Should Drink It: Strikingly complete expre...,96.0
4,Kenya Gititu Peaberry,Atomic Cafe Coffee Roasters,6,2009,3.0,44.0,63.0,8.0,8.0,8.0,...,NaN,NaN,42.558428,-70.880049,1.441968,38.431398,"Blind Assessment: Rich, complex fruit aroma, i...",Notes: Despite stresses brought on by social u...,Who Should Drink It: Lovers of sweet fruit fla...,92.0

In [69]:
df_1.rename(columns = {'roast_level':'roast'}, inplace = True)

In [70]:
df_1 = df_1[['coffee_name', 'roaster_name', 'month', 'year', 'roast', 'bean_agtron', 'ground_agtron', 'aroma', 'acidity', 'body', 'flavor', 'aftertaste', 'with_milk', 'roaster_location_lat', 'roaster_location_lon', 'origin_lat', 'origin_lon', 'p1', 'p2', 'p3', 'overall_score']]

In [71]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4779 entries, 0 to 4778
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           4779 non-null   object
 1   roaster_name          4779 non-null   object
 2   month                 4779 non-null   int64
 3   year                  4779 non-null   int64
 4   roast                 4705 non-null   float64
 5   bean_agtron           4742 non-null   float64
 6   ground_agtron         4743 non-null   float64
 7   aroma                 4743 non-null   float64
 8   acidity               4049 non-null   float64
 9   body                  4779 non-null   int64
 10  flavor                4779 non-null   int64
 11  aftertaste            4779 non-null   int64
 12  with_milk             766 non-null    float64
 13  roaster_location_lat  4738 non-null   float64
 14  roaster_location_lon  4738 non-null   float64
 15  origin_lat            4513 non-null   float64
 16  origin_lon            4513 non-null   float64
 17  p1                    4779 non-null   object
 18  p2                    4779 non-null   object
 19  p3                    4773 non-null   object
 20  overall_score         4779 non-null   int64
dtypes: float64(10), int64(6), object(5)
memory usage: 784.2+ KB

In [72]:
df_1.shape

(4779, 21)

In [73]:
df_2.shape

(1788, 21)

In [77]:
coffee = pd.concat([df_1, df_2], axis=0)

In [78]:
coffee.shape

(6567, 21)

In [84]:
#updating to integers
coffee['roast'] = coffee['roast'].astype('Int8')

In [86]:
#updating to integers
coffee['bean_agtron'] = coffee['bean_agtron'].astype('Int8')

coffee['ground_agtron'] = coffee['ground_agtron'].astype('Int8')

coffee['aroma'] = coffee['aroma'].astype('Int8')

coffee['acidity'] = coffee['acidity'].astype('Int8')

coffee['body'] = coffee['body'].astype('Int8')

coffee['flavor'] = coffee['flavor'].astype('Int8')

coffee['aftertaste'] = coffee['aftertaste'].astype('Int8')

coffee['with_milk'] = coffee['with_milk'].astype('Int8')

coffee['overall_score'] = coffee['overall_score'].astype('Int8')

In [88]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6567 entries, 0 to 1787
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           6567 non-null   object
 1   roaster_name          6567 non-null   object
 2   month                 6567 non-null   int64
 3   year                  6567 non-null   int64
 4   roast                 6215 non-null   Int8
 5   bean_agtron           6291 non-null   Int8
 6   ground_agtron         6297 non-null   Int8
 7   aroma                 6528 non-null   Int8
 8   acidity               5501 non-null   Int8
 9   body                  6512 non-null   Int8
 10  flavor                5546 non-null   Int8
 11  aftertaste            4781 non-null   Int8
 12  with_milk             775 non-null    Int8
 13  roaster_location_lat  6495 non-null   float64
 14  roaster_location_lon  6495 non-null   float64
 15  origin_lat            5978 non-null   float64
 16  origin_lon            5978 non-null   float64
 17  p1                    6567 non-null   object
 18  p2                    6567 non-null   object
 19  p3                    6561 non-null   object
 20  overall_score         6563 non-null   Int8
dtypes: Int8(10), float64(4), int64(2), object(5)
memory usage: 743.9+ KB

In [89]:
coffee.head()

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_location_lat,roaster_location_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
0,Colombia Cerro Azul Enano,Equator Coffees,10,2022,2,60,77,9,9,9,...,8,<NA>,37.973535,-122.531087,4.099917,-72.908813,Blind Assessment: Elegantly fruit- and cocoa-t...,Notes: Produced at Finca Cerro Azul (also owne...,The Bottom Line: This rare Enano (dwarf Geish...,94
1,Peru Incahuasi,Press Coffee,10,2022,2,58,78,9,9,9,...,8,<NA>,33.448437,-112.074141,-6.869970,-75.045851,"Blind Assessment: Gently fruit-toned, integrat...",Notes: Produced at Incahuasi Farm from trees o...,The Bottom Line: Laden with tropical fruit not...,94
2,Colombia Aponte’s Guardians,Press Coffee,10,2022,2,59,77,9,9,8,...,8,<NA>,33.448437,-112.074141,4.099917,-72.908813,"Blind Assessment: Richly sweet, spice-toned. L...",Notes: Produced at Aponte Farm from an undiscl...,"The Bottom Line: A balanced, inviting washed C...",93
3,Nicaragua Flor de Dalia Natural,Equator Coffees,10,2022,2,62,78,8,8,9,...,8,<NA>,37.973535,-122.531087,12.609016,-85.293691,"Blind Assessment: Gently fruit-forward, sweetl...",Notes: Produced by smallholding members of the...,"The Bottom Line: A refreshing, very sweet natu...",92
4,Ethiopia Bench Maji Geisha G1 Natural,Taster's Coffee,10,2022,1,65,81,9,9,8,...,8,<NA>,25.072134,121.679919,10.211670,38.652120,"Blind Assessment: Gently sweet-tart, floral-to...",Notes: Produced from trees of the admired bota...,The Bottom Line: A quietly confident natural-p...,93

In [96]:
coffee.tail()

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_lat,roaster_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
1783,Ethiopia Sidamo,Caravali Coffee,3,1997,5,36,39,6,5,6,...,<NA>,<NA>,47.382690,-122.227027,44.933143,7.540121,"Blind Assessment: Pungent, chocolate notes enl...","Notes: Pungent, chocolate notes enliven the ar...",Who Should Drink It: People who fondly remembe...,74
1784,Bridgetown Blend,Bridgetown Coffee,2,1997,4,47,52,8,6,6,...,<NA>,<NA>,45.520247,-122.674194,44.933143,7.540121,"Blind Assessment: An intense coffee, particula...",Notes: Intense coffee where carbon tones domin...,Who Should Drink It: People who like everythin...,77
1785,Breakfast Blend,Green Mountain Coffee,2,1997,3,56,65,7,8,7,...,<NA>,<NA>,44.337125,-72.755497,44.933143,7.540121,Blind Assessment: An exquisitely balanced trad...,Notes: An exquisitely balanced traditional Ame...,Who Should Drink It: Traditionalists who are a...,90
1786,Seattle’s Best Blend,Seattle's Best Coffee,2,1997,4,47,52,7,6,8,...,<NA>,<NA>,47.603832,-122.330062,-2.483383,117.890285,Blind Assessment: This coffee gets better as i...,Notes: Coffee with a heavy body that get bette...,Who Should Drink It: Classicists who brew with...,88
1787,Colombian Blend,Thanksgiving Coffee,2,1997,4,45,49,7,4,5,...,<NA>,<NA>,39.445723,-123.805294,4.099917,-72.908813,Blind Assessment: This coffee is so complex at...,Notes: A coffee so complex at the top that it ...,Who Should Drink It: Romantics. Should do well...,85

In [95]:
#shortening roaster lat and lon names
coffee.rename(columns = {'roaster_location_lat':'roaster_lat'}, inplace = True)
coffee.rename(columns = {'roaster_location_lon':'roaster_lon'}, inplace = True)

In [93]:
###### LOOK INTO THIS FURTHER - BEAN AGTRON has negative, not sure where this came from
coffee['bean_agtron'].unique()

<IntegerArray>
[  60,   58,   59,   62,   65,   46,   57,   56,   48,   64,   52,   61,   54,
   45,   76,   68,   51,   55,   63,   44,   47,   50,    0,   75,   40,   38,
   32,   34,   53,   49,   42,   66,   36,   35,   39,   82,   74,   85,   79,
 -124,   43,   67,   41,   31,   69, <NA>,   37,   71,   70,   86,   78,   72,
   81,   73,   33,   21,   20,   25,   29,   27,   22,   23,   26,   28,   18,
   30,   19,   24,   15,   14,   77,   17,   11]
Length: 73, dtype: Int8

In [94]:
coffee.describe()

,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,flavor,aftertaste,with_milk,roaster_location_lat,roaster_location_lon,origin_lat,origin_lon,overall_score
count,6567.000000,6567.000000,6215.000000,6291.000000,6297.000000,6528.000000,5501.000000,6512.000000,5546.000000,4781.000000,775.000000,6495.000000,6495.000000,5978.000000,5978.000000,6563.000000
mean,6.643368,2013.095630,2.704586,49.284533,66.316976,8.357843,7.929649,8.090756,8.546881,8.041205,8.574194,37.025840,-64.458188,10.218362,-12.144786,90.875514
std,3.436752,6.725073,1.239804,14.528261,15.914945,0.929578,1.079543,0.871868,1.014441,0.673292,0.689047,9.553884,82.157769,13.342629,72.151127,4.088500
min,1.000000,1997.000000,1.000000,-124.000000,0.000000,2.000000,1.000000,4.000000,1.000000,2.000000,5.000000,-37.824425,-159.582761,-30.292848,-155.428370,60.000000
25%,4.000000,2008.000000,2.000000,46.000000,58.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,32.808217,-117.690075,1.441968,-81.130843,90.000000
50%,7.000000,2014.000000,2.000000,53.000000,70.000000,9.000000,8.000000,8.000000,9.000000,8.000000,9.000000,39.049011,-89.383761,10.211670,7.540121,92.000000
75%,10.000000,2019.000000,3.000000,58.000000,77.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,43.447436,-73.121221,14.897192,38.652120,93.000000
max,12.000000,2022.000000,6.000000,86.000000,105.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,64.837845,152.952215,52.380033,153.125616,98.000000