# Capstone Project Part 4: Combining DataFrames

**Authur:** Kate Meredith  

**Date:** September-November 2022

**Notebook #:** 4 of

## Background

**Source:** Data was collected from [CoffeeReview.com](https://www.coffeereview.com/) and grouped into two DataFrames for cleaning. This workbook compiles those two datasets and further cleans them.

**Data Overview:** Columns for the combined datasets will be as follows:

Independent Variables:
- coffee_name
- roaster_name
- month
- year
- roast
- bean_agtron
- ground_agtron
- aroma
- acidity
- body
- flavor
- aftertaste
- with_milk
- roaster_lat
- roaster_lon
- origin_lat
- origin_lon
- p1
- p2
- p3

Target: 
- Overall Score

### References

- Used this [article](https://www.geeksforgeeks.org/change-the-order-of-a-pandas-dataframe-columns-in-python/) to reorder columns
- Used this [article](https://stackoverflow.com/questions/17071871/how-do-i-select-rows-from-a-dataframe-based-on-- column-values) to figure out how to find a row based on specific value
- Checking which rows are missing values through this [help](https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/)
- Dropping rows based on [column missing values](https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan)

In [1]:
#Importing libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Combining Datasets

The following combines the two data sets with some priliminary adjustment.

In [7]:
#import first dataset
df_1 = pd.read_csv('1st_clean_data_df.csv')

In [8]:
#import second dataset
df_2 = pd.read_csv('2nd_clean_data_df.csv')

In [9]:
#initial review of data types, missing values
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4779 entries, 0 to 4778
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           4779 non-null   object
 1   roaster_name          4779 non-null   object
 2   roast_level           4705 non-null   float64
 3   overall_score         4779 non-null   int64
 4   p1                    4779 non-null   object
 5   p2                    4779 non-null   object
 6   p3                    4773 non-null   object
 7   bean_agtron           4742 non-null   float64
 8   ground_agtron         4743 non-null   float64
 9   year                  4779 non-null   int64
 10  month                 4779 non-null   int64
 11  roaster_location_lat  4738 non-null   float64
 12  roaster_location_lon  4738 non-null   float64
 13  origin_lat            4513 non-null   float64
 14  origin_lon            4513 non-null   float64
 15  aroma                 4743 non-null   float64
 16  acidity               4049 non-null   float64
 17  body                  4779 non-null   int64
 18  flavor                4779 non-null   int64
 19  aftertaste            4779 non-null   int64
 20  with_milk             766 non-null    float64
dtypes: float64(10), int64(6), object(5)
memory usage: 784.2+ KB

In [10]:
#initial review of data types, missing values
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1788 entries, 0 to 1787
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           1788 non-null   object
 1   roaster_name          1788 non-null   object
 2   overall_score         1784 non-null   float64
 3   roaster_location      1786 non-null   object
 4   p1                    1788 non-null   object
 5   p2                    1788 non-null   object
 6   p3                    1788 non-null   object
 7   roast                 1510 non-null   float64
 8   aroma                 1785 non-null   float64
 9   acidity               1452 non-null   float64
 10  body                  1733 non-null   float64
 11  flavor                767 non-null    float64
 12  aftertaste            2 non-null      float64
 13  with_milk             9 non-null      float64
 14  bean_agtron           1549 non-null   float64
 15  ground_agtron         1554 non-null   float64
 16  year                  1788 non-null   int64
 17  month                 1788 non-null   int64
 18  roaster_location_lat  1757 non-null   float64
 19  roaster_location_lon  1757 non-null   float64
 20  origin_lat            1465 non-null   float64
 21  origin_lon            1465 non-null   float64
dtypes: float64(14), int64(2), object(6)
memory usage: 307.4+ KB

In [14]:
#update column name to match other df
df_1.rename(columns = {'roast_level':'roast'}, inplace = True)

In [15]:
#reorder columns
df_1 = df_1[['coffee_name', 'roaster_name', 'month', 'year', 'roast', 'bean_agtron', 'ground_agtron', 'aroma', 'acidity', 'body', 'flavor', 'aftertaste', 'with_milk', 'roaster_location_lat', 'roaster_location_lon', 'origin_lat', 'origin_lon', 'p1', 'p2', 'p3', 'overall_score']]

In [16]:
#checking order update
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4779 entries, 0 to 4778
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           4779 non-null   object
 1   roaster_name          4779 non-null   object
 2   month                 4779 non-null   int64
 3   year                  4779 non-null   int64
 4   roast                 4705 non-null   float64
 5   bean_agtron           4742 non-null   float64
 6   ground_agtron         4743 non-null   float64
 7   aroma                 4743 non-null   float64
 8   acidity               4049 non-null   float64
 9   body                  4779 non-null   int64
 10  flavor                4779 non-null   int64
 11  aftertaste            4779 non-null   int64
 12  with_milk             766 non-null    float64
 13  roaster_location_lat  4738 non-null   float64
 14  roaster_location_lon  4738 non-null   float64
 15  origin_lat            4513 non-null   float64
 16  origin_lon            4513 non-null   float64
 17  p1                    4779 non-null   object
 18  p2                    4779 non-null   object
 19  p3                    4773 non-null   object
 20  overall_score         4779 non-null   int64
dtypes: float64(10), int64(6), object(5)
memory usage: 784.2+ KB

In [11]:
#might need to remove this once prior notebook cleaned
df_2.drop('roaster_location', axis=1, inplace=True)

In [12]:
#redording columns
df_2 = df_2[['coffee_name', 'roaster_name', 'month', 'year', 'roast', 'bean_agtron', 'ground_agtron', 'aroma', 'acidity', 'body', 'flavor', 'aftertaste', 'with_milk', 'roaster_location_lat', 'roaster_location_lon', 'origin_lat', 'origin_lon', 'p1', 'p2', 'p3', 'overall_score']]

In [13]:
#checking order update
df_2.head()

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_location_lat,roaster_location_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
0,Doi Chaang Wild Civet Coffee,Doi Chaang Coffee,6,2009,2.0,49.0,80.0,8.0,8.0,7.0,...,NaN,NaN,51.046095,-114.065465,14.897192,100.832730,Blind Assessment: Intriguing mid-tones through...,Notes: Doi Chaang is a single-estate coffee pr...,Who Should Drink It: Culinary adventurers who ...,90.0
1,Kenya AA Lenana,Après Coffee,6,2009,4.0,42.0,53.0,8.0,8.0,7.0,...,NaN,NaN,40.038130,-76.305669,1.441968,38.431398,"Blind Assessment: Rich, very intense aroma: da...",Notes: Despite stresses brought on by social u...,Who Should Drink It: Those who prefer understa...,92.0
2,Mele 100% Kona Coffee,Hula Daddy,6,2009,2.0,51.0,73.0,8.0,8.0,7.0,...,NaN,NaN,19.623815,-155.953638,19.593802,-155.428370,"Blind Assessment: An exciting, rather unusual ...",Notes: A blend of coffees processed by a varie...,Who Should Drink It: An exhilarating sensory r...,92.0
3,Kenya Peaberry Thika Gethumbwini,JBC Coffee Roasters,6,2009,1.0,57.0,90.0,8.0,9.0,8.0,...,NaN,NaN,43.074761,-89.383761,1.441968,38.431398,"Blind Assessment: Clean, complex, impeccable. ...",Notes: Despite national coffee leadership mark...,Who Should Drink It: Strikingly complete expre...,96.0
4,Kenya Gititu Peaberry,Atomic Cafe Coffee Roasters,6,2009,3.0,44.0,63.0,8.0,8.0,8.0,...,NaN,NaN,42.558428,-70.880049,1.441968,38.431398,"Blind Assessment: Rich, complex fruit aroma, i...",Notes: Despite stresses brought on by social u...,Who Should Drink It: Lovers of sweet fruit fla...,92.0

In [17]:
df_1.shape

(4779, 21)

df_1 has 4,779 rows and 21 columns

In [18]:
df_2.shape

(1788, 21)

df_2 has 1,788 rows and 21 columns

In [19]:
#combining dataframes
coffee = pd.concat([df_1, df_2], axis=0)

## EDA and Further Cleaning

Exploratory data analysis for combined dataframe `coffee`:

In [20]:
#checking new dataframe shape
coffee.shape

(6567, 21)

Full dataframe has 6,567 rows and 21 columns

### Updating datatypes

In [21]:
#updating to integers
coffee['roast'] = coffee['roast'].astype('Int8')

In [22]:
#updating datatypes to integers
coffee['bean_agtron'] = coffee['bean_agtron'].astype('Int8')

coffee['ground_agtron'] = coffee['ground_agtron'].astype('Int8')

coffee['aroma'] = coffee['aroma'].astype('Int8')

coffee['acidity'] = coffee['acidity'].astype('Int8')

coffee['body'] = coffee['body'].astype('Int8')

coffee['flavor'] = coffee['flavor'].astype('Int8')

coffee['aftertaste'] = coffee['aftertaste'].astype('Int8')

coffee['with_milk'] = coffee['with_milk'].astype('Int8')

coffee['overall_score'] = coffee['overall_score'].astype('Int8')

In [23]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6567 entries, 0 to 1787
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   coffee_name           6567 non-null   object
 1   roaster_name          6567 non-null   object
 2   month                 6567 non-null   int64
 3   year                  6567 non-null   int64
 4   roast                 6215 non-null   Int8
 5   bean_agtron           6291 non-null   Int8
 6   ground_agtron         6297 non-null   Int8
 7   aroma                 6528 non-null   Int8
 8   acidity               5501 non-null   Int8
 9   body                  6512 non-null   Int8
 10  flavor                5546 non-null   Int8
 11  aftertaste            4781 non-null   Int8
 12  with_milk             775 non-null    Int8
 13  roaster_location_lat  6495 non-null   float64
 14  roaster_location_lon  6495 non-null   float64
 15  origin_lat            5978 non-null   float64
 16  origin_lon            5978 non-null   float64
 17  p1                    6567 non-null   object
 18  p2                    6567 non-null   object
 19  p3                    6561 non-null   object
 20  overall_score         6563 non-null   Int8
dtypes: Int8(10), float64(4), int64(2), object(5)
memory usage: 743.9+ KB

In [24]:
#previewing data
coffee.head()

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_location_lat,roaster_location_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
0,Colombia Cerro Azul Enano,Equator Coffees,10,2022,2,60,77,9,9,9,...,8,<NA>,37.973535,-122.531087,4.099917,-72.908813,Blind Assessment: Elegantly fruit- and cocoa-t...,Notes: Produced at Finca Cerro Azul (also owne...,The Bottom Line: This rare Enano (dwarf Geish...,94
1,Peru Incahuasi,Press Coffee,10,2022,2,58,78,9,9,9,...,8,<NA>,33.448437,-112.074141,-6.869970,-75.045851,"Blind Assessment: Gently fruit-toned, integrat...",Notes: Produced at Incahuasi Farm from trees o...,The Bottom Line: Laden with tropical fruit not...,94
2,Colombia Aponte’s Guardians,Press Coffee,10,2022,2,59,77,9,9,8,...,8,<NA>,33.448437,-112.074141,4.099917,-72.908813,"Blind Assessment: Richly sweet, spice-toned. L...",Notes: Produced at Aponte Farm from an undiscl...,"The Bottom Line: A balanced, inviting washed C...",93
3,Nicaragua Flor de Dalia Natural,Equator Coffees,10,2022,2,62,78,8,8,9,...,8,<NA>,37.973535,-122.531087,12.609016,-85.293691,"Blind Assessment: Gently fruit-forward, sweetl...",Notes: Produced by smallholding members of the...,"The Bottom Line: A refreshing, very sweet natu...",92
4,Ethiopia Bench Maji Geisha G1 Natural,Taster's Coffee,10,2022,1,65,81,9,9,8,...,8,<NA>,25.072134,121.679919,10.211670,38.652120,"Blind Assessment: Gently sweet-tart, floral-to...",Notes: Produced from trees of the admired bota...,The Bottom Line: A quietly confident natural-p...,93

In [96]:
coffee.tail()

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_lat,roaster_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
1783,Ethiopia Sidamo,Caravali Coffee,3,1997,5,36,39,6,5,6,...,<NA>,<NA>,47.382690,-122.227027,44.933143,7.540121,"Blind Assessment: Pungent, chocolate notes enl...","Notes: Pungent, chocolate notes enliven the ar...",Who Should Drink It: People who fondly remembe...,74
1784,Bridgetown Blend,Bridgetown Coffee,2,1997,4,47,52,8,6,6,...,<NA>,<NA>,45.520247,-122.674194,44.933143,7.540121,"Blind Assessment: An intense coffee, particula...",Notes: Intense coffee where carbon tones domin...,Who Should Drink It: People who like everythin...,77
1785,Breakfast Blend,Green Mountain Coffee,2,1997,3,56,65,7,8,7,...,<NA>,<NA>,44.337125,-72.755497,44.933143,7.540121,Blind Assessment: An exquisitely balanced trad...,Notes: An exquisitely balanced traditional Ame...,Who Should Drink It: Traditionalists who are a...,90
1786,Seattle’s Best Blend,Seattle's Best Coffee,2,1997,4,47,52,7,6,8,...,<NA>,<NA>,47.603832,-122.330062,-2.483383,117.890285,Blind Assessment: This coffee gets better as i...,Notes: Coffee with a heavy body that get bette...,Who Should Drink It: Classicists who brew with...,88
1787,Colombian Blend,Thanksgiving Coffee,2,1997,4,45,49,7,4,5,...,<NA>,<NA>,39.445723,-123.805294,4.099917,-72.908813,Blind Assessment: This coffee is so complex at...,Notes: A coffee so complex at the top that it ...,Who Should Drink It: Romantics. Should do well...,85

### Updating column names to be shorter

In [25]:
#shortening roaster lat and lon names
coffee.rename(columns = {'roaster_location_lat':'roaster_lat'}, inplace = True)
coffee.rename(columns = {'roaster_location_lon':'roaster_lon'}, inplace = True)

### Investigating null values:

In [44]:
coffee.isna().sum()

coffee_name         0
roaster_name        0
month               0
year                0
roast             352
bean_agtron       276
ground_agtron     270
aroma              39
acidity          1066
body               55
flavor           1021
aftertaste       1786
with_milk        5792
roaster_lat        72
roaster_lon        72
origin_lat        589
origin_lon        589
p1                  0
p2                  0
p3                  6
overall_score       4
dtype: int64

In [43]:
coffee.isna().sum().sum()

11989

There are a number of null values that will need to be addressed, particularly around score related data, and lat and lon values. 

There are also a few missing their `overall_score` value, we'll start with those.

In [52]:
overall_boolean = pd.isnull(coffee["overall_score"])
coffee[overall_boolean]

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_lat,roaster_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
1593,Vienna Roast,Alpen Sierra Coffee Roasters,10,1998,4,38,44,7,6,5,...,<NA>,<NA>,39.088540,-120.050353,44.933143,7.540121,Blind Assessment: Some cups of the sample are ...,Notes: Not rated due to a taste fault in some ...,Who Should Drink It: The best-seller factor:I'...,<NA>
1594,Brazil Fazenda Vista Alegre,City Bean Coffee,10,1998,4,45,53,6,5,6,...,<NA>,<NA>,34.092301,-118.369289,44.933143,7.540121,Blind Assessment: Some cups display a muted bu...,Notes: Not rated due to a taste defect in some...,Who Should Drink It: The best-seller factor:I ...,<NA>
1597,Elm City House Blend,Elm City Roasters,10,1998,5,38,43,6,5,7,...,<NA>,<NA>,41.308214,-72.925052,44.933143,7.540121,Blind Assessment: About half the cups of this ...,Notes: Not rated due to a taste defect called ...,Who Should Drink It: The best-seller factor:I ...,<NA>
1651,Natural Moka – Green,Kaanapali Estate Coffee,4,1998,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,20.802957,-156.310683,44.933143,7.540121,Blind Assessment: To say this coffee has an at...,Notes: This coffee was not rated due to the pa...,"This review originally appeared in the April, ...",<NA>

Investigated these four; they were unrated. Given `overall_score` is the target variable, and only 4 are missing their score, droppiing these four rows. However, we'll save this as a dataframe for later reference just in case.

In [53]:
#saving these 4 as their own df before dropping the rows missing their rating
overall_boolean_df = coffee[overall_boolean]

In [60]:
#drop rows missing value in overall_score column 
coffee.dropna(subset = ['overall_score'], inplace=True)

In [61]:
#checking drop accuracy
coffee.isna().sum()

coffee_name         0
roaster_name        0
month               0
year                0
roast             351
bean_agtron       275
ground_agtron     269
aroma              38
acidity          1065
body               54
flavor           1020
aftertaste       1782
with_milk        5788
roaster_lat        72
roaster_lon        72
origin_lat        589
origin_lon        589
p1                  0
p2                  0
p3                  6
overall_score       0
dtype: int64

In [63]:
len(coffee)

6563

Next, we'll move on to the column missing the most values `with_milk`. `with_milk` refers to the coffee score when served with milk. Given 1) the proportion of these missing (5788/6563) and 2) the number of other scores we have available, we'll drop this column.

In [64]:
#dropping "with_milk" column
coffee.drop('with_milk', axis=1, inplace=True)

In [ ]:
#########CONTINUTE HERE#########
#addressing other null values

### Checking numerical data for unusual values, initial insights

In [65]:
coffee.describe()

,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,flavor,aftertaste,roaster_lat,roaster_lon,origin_lat,origin_lon,overall_score
count,6563.000000,6563.000000,6212.000000,6288.000000,6294.000000,6525.000000,5498.000000,6509.000000,5543.000000,4781.000000,6491.000000,6491.000000,5974.000000,5974.000000,6563.000000
mean,6.642237,2013.104830,2.703799,49.316794,66.326343,8.358774,7.931066,8.091719,8.548259,8.041205,37.027814,-64.425863,10.195118,-12.157966,90.875514
std,3.436895,6.716784,1.239543,14.364946,15.912649,0.928722,1.078076,0.870736,1.012805,0.673292,9.554454,82.169478,13.316809,72.173483,4.088500
min,1.000000,1997.000000,1.000000,0.000000,0.000000,2.000000,1.000000,4.000000,1.000000,2.000000,-37.824425,-159.582761,-30.292848,-155.428370,60.000000
25%,4.000000,2008.000000,2.000000,46.000000,58.000000,8.000000,8.000000,8.000000,8.000000,8.000000,32.808217,-117.648430,1.441968,-81.130843,90.000000
50%,7.000000,2014.000000,2.000000,53.000000,70.000000,9.000000,8.000000,8.000000,9.000000,8.000000,39.049011,-89.383761,10.211670,7.540121,92.000000
75%,10.000000,2019.000000,3.000000,58.000000,77.000000,9.000000,9.000000,9.000000,9.000000,8.000000,43.447436,-73.121221,14.897192,38.652120,93.000000
max,12.000000,2022.000000,6.000000,86.000000,105.000000,10.000000,10.000000,10.000000,10.000000,10.000000,64.837845,152.952215,52.380033,153.125616,98.000000

Noticed unexpected min value for bean_agtron, investigating:

In [29]:
#found the odd min for bean_agtron
#dug through earlier notebooks and website to see if there might be broader issues with how data was compiled
#this appears to be from a website typo
coffee.loc[coffee['bean_agtron'] == -124]

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_lat,roaster_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
894,Look for the Helpers,Tony's Coffee,3,2021,1,-124,70,8,8,9,...,8,<NA>,48.754401,-122.478836,10.21167,38.65212,"Blind Assessment: Crisply chocolaty, rich-tone...",Notes: This coffee earned the fourth-highest r...,The Bottom Line: 100% of the profits from the ...,91

In [30]:
#replacing this value with the correct score
coffee['bean_agtron'].replace(-124, 52, inplace=True)

In [32]:
#checking updated correctly
coffee.loc[coffee['coffee_name'] == 'Look for the Helpers']

,coffee_name,roaster_name,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,...,aftertaste,with_milk,roaster_lat,roaster_lon,origin_lat,origin_lon,p1,p2,p3,overall_score
894,Look for the Helpers,Tony's Coffee,3,2021,1,52,70,8,8,9,...,8,<NA>,48.754401,-122.478836,10.21167,38.65212,"Blind Assessment: Crisply chocolaty, rich-tone...",Notes: This coffee earned the fourth-highest r...,The Bottom Line: 100% of the profits from the ...,91

In [38]:
#checking for any other unusual values
coffee.describe()

,month,year,roast,bean_agtron,ground_agtron,aroma,acidity,body,flavor,aftertaste,with_milk,roaster_lat,roaster_lon,origin_lat,origin_lon,overall_score
count,6567.000000,6567.000000,6215.000000,6291.00000,6297.000000,6528.000000,5501.000000,6512.000000,5546.000000,4781.000000,775.000000,6495.000000,6495.000000,5978.000000,5978.000000,6563.000000
mean,6.643368,2013.095630,2.704586,49.31251,66.316976,8.357843,7.929649,8.090756,8.546881,8.041205,8.574194,37.025840,-64.458188,10.218362,-12.144786,90.875514
std,3.436752,6.725073,1.239804,14.36304,15.914945,0.929578,1.079543,0.871868,1.014441,0.673292,0.689047,9.553884,82.157769,13.342629,72.151127,4.088500
min,1.000000,1997.000000,1.000000,0.00000,0.000000,2.000000,1.000000,4.000000,1.000000,2.000000,5.000000,-37.824425,-159.582761,-30.292848,-155.428370,60.000000
25%,4.000000,2008.000000,2.000000,46.00000,58.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,32.808217,-117.690075,1.441968,-81.130843,90.000000
50%,7.000000,2014.000000,2.000000,53.00000,70.000000,9.000000,8.000000,8.000000,9.000000,8.000000,9.000000,39.049011,-89.383761,10.211670,7.540121,92.000000
75%,10.000000,2019.000000,3.000000,58.00000,77.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,43.447436,-73.121221,14.897192,38.652120,93.000000
max,12.000000,2022.000000,6.000000,86.00000,105.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,64.837845,152.952215,52.380033,153.125616,98.000000

**Things of note from description:**
- bean_agtron and ground_agtron: 
    - look into 0 values, doesn't make sense for data (those should probably be nan)
    - 105 for ground agtron seems high, dig further
    - score columns seem skewed towards 10, may need to adjust to even out distribution for these
    - overall score mean is 90 (high end of range; scores can go from 50-100, in these set range from 60 to 98)
    
We'll come back to this.